# Ophim API
VITE_API_LIST="https://ophim1.com/v1/api/danh-sach/"
VITE_API_SEARCH="https://ophim1.com/v1/api/tim-kiem?"
VITE_API_DETAILS="https://ophim1.com/phim/"
VITE_API_IMAGE="https://img.ophim.live/uploads/movies/"
VITE_API_DONATE="https://img.vietqr.io/image/BIDV-5811640291-print.png?addInfo=NEEDFLEX%20DONATE&accountName=PHAM%20ANH%20PHA"

# Firebase Config (client-side, public-safe)
VITE_API_KEY=
VITE_AUTH_DOMAIN=
VITE_PROJECT_ID=
VITE_STORAGE_BUCKET=
VITE_MESSAGING_SENDER_ID=
VITE_APP_ID=
VITE_MEASUREMENT_ID=            # Có thể để trống dòng này nếu bạn không dùng Google Analytics
