@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Netflix Sans";
  src: url("./assets/NetflixSans-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Netflix Sans";
  src: url("./assets/NetflixSans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Netflix Sans";
  src: url("./assets/NetflixSans-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Netflix Sans";
  src: url("./assets/NetflixSans-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

html,
body {
  font-family: "Netflix Sans", Arial, Helvetica, sans-serif;
}

.swiper {
  overflow: visible !important;
}

.swiper-wrapper {
  overflow: visible !important;
}

.swiper-slide {
  overflow: visible !important;
}

.swiper-pagination-bullet {
  width: 10px !important;
  height: 2px !important;
  background: #4d4d4d !important;
  border-radius: 0 !important;
  margin: 0 0.5px !important;
}

.swiper-pagination-bullet-active {
  background: #aaa !important;
  width: 10px !important;
  height: 2px !important;
  border-radius: 0 !important;
  margin: 0 0.5px !important;
}

.swiper-pagination-bullets.swiper-pagination-horizontal {
  width: fit-content !important;
}

.swiper-lazy-preloader {
  display: none !important;
}
